In [1]:
print("hello world")

hello world

In [2]:
print("second cell")
print("second line in second cell")

second cell
second line in second cell

In [3]:
x = 2
y = 3

In [4]:
x + y

5

In [5]:
x + y
x - y

-1

In [6]:
print(x + y)
x - y

5

-1

In [7]:
mynums = [1, 2, 3, 1, 2]
mynums

[1, 2, 3, 1, 2]

In [8]:
for n in mynums:
    print(n+1)

2
3
4
2
3

In [9]:
mynums?

In [10]:
len?

In [11]:
banana?

Object `banana` not found.

In [12]:
range?

In [13]:
import pandas as pd

In [15]:
pd.DataFrame(mynums)

   0
0  1
1  2
2  3
3  1
4  2

In [16]:
mynums.sort(reverse=True)

In [17]:
mynums.sort(reverse=True)
mynums

[3, 2, 2, 1, 1]

In [19]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [20]:
x = 1+1
y = 1-1
z = x/y

ZeroDivisionError: division by zero

In [21]:
 %debug

> /var/folders/8b/cx4xk_mn301_kwf5dmq88bfw0000gp/T/ipykernel_42642/1746220672.py(3)<module>()
      1 x = 1+1
      2 y = 1-1
----> 3 z = x/y

ipdb> x
2
ipdb> y
0
ipdb> exit()

In [ ]:
print()